@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

h1{
    font-size: 4rem;
    font-family: 'Roboto Slab', serif;
}

hr{
    width: 100%;
    margin: 2rem 0 2rem 0;
    background-color: rgba(0, 0, 0, 0.116);
}

.header_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}