table {
    table-layout: auto;
    width: 100%;
    font-size: 1.2rem;
}

tbody{
    justify-content: center;
    align-items: center;
}

.text-center{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    background-color:beige;
    padding: 1rem 0 1rem 0;
}

td{
    font-size: 1rem;
    text-align: center;
    max-width: 10rem;
    word-break: break-all;
}